body {
    background-color: light-grey;
    width:100%;
    margin:0;
	font-family: Arial, helvetica, sans-serif;


}
img {
    max-width: 100%;

}

.inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
}

/* WP alignment */
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* End WP alignment */

/*header-image {
    width:1080px;
    height: 400px;
    margin: 0 auto;
} */
/* Front page */
.hero-container {
  position: relative;
  text-align: center;
  color: white;
  background-attachment: fixed;
  height: 400px;
  overflow: hidden;

}

/* Centered text */
.tagline {
  position: absolute; /*container should be set at position: relative; */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /*this makes title in centre */
  color:white;
  z-index: 4;

}

/*grey overlay maybe? */
.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .2);
  max-width: 100%;
  height: 400px;
}

.header-image {
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 100%;

}

.header-slices {
background-position: top;

}


.sitename {
    justify-content: center;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    font-size: 25px;


}
.active {
    text-decoration: none;
    color: black;
	padding: 0.5em;
}

nav ul li {
    text-decoration: none;
    border: 1px solid black;
    margin:0.5em;

}

nav {
    text-decoration: none;
}

.hello {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    letter-spacing: 0.5em;
}


/*.tagline {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1em;
    size: 20px;
    text-align: center;
    color: white;
    margin: 0 auto;
    z-index: 4;
}
*/

/*change the layout of the navigation bar for all the screens
that have a width less or equal than 500px*/``
@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  ul{
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  li{
    margin: 0;
  }
 /* makes sure that the a tag will take the entire screen*/
  a{
    display: block;
  }
}

.products-wrapper {
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;

}

.product {
	width:50%;

}

@media only screen and (min-width:800px) {
	.product {
		width:25%;
	}

}




h2 {

    text-align: center;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1em;
    size: 30px;
    color: darkseagreen;
}


h4 {
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 2.5rem;
    padding: 0.3rem;
    font-family: Quicksand;

}

.parallax {
    background-image: url(/wp-content/uploads/images/jars-two.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;

}

.container {
    background-image: url(/wp-content/uploads/images/spreadfour.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:400px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 .best-sells {
    font-family: helvetica;
    font-size: 6rem;
    color: white;

}

.bestseller-link {
    color: white;
    text-decoration: none;
}

.new-recipes {
    text-align: center;
    background-color: darksalmon;
    color: white;
    font-family: monospace;
	padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
	.new-recipes {
		background-color: darkseagreen;
	}
}

.gallery-flavours-container {

display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-evenly;
/*width: 1080px; */
padding-top: 50px;
}

.gallery-flavours {
	width: 50%;
}

@media only screen and (min-width:800px) {
	.gallery-flavours {
		width:25%;
	}
}


.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  padding-top: 5px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: monospace;
}
/* About page */

.hero-container-about {
    position: relative;
    text-align: center;
    color: white;
    background-attachment: fixed;
    height: 400px;
    overflow: hidden;
}


.about-heroimage {
    background-size: cover;
    overflow: hidden;
    height: 400px;
    background-position: top;
    position: relative;
}

.about-heading {
    color: powderblue;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.about-content-container {
	max-width: 100%;
    padding: 2rem;
    background-color: darkseagreen;
    color: white;
}
.about-content {
    font-family: sans-serif;
    max-width: 100%
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 0 20px;
    padding: 5px;

}

.about-content p {
	text-align: right;
}

.about-text {
    color:white;
    font-family: Quicksand;
    background-color: lightgray;
}

.about-banner-middle-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aligncenter wp-image-68 size-large {
    max-width: 100%;
}

.about-gallery {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.about-gallery .gallery-about-image {
    justify-content: space-between;
}

.about-gallery-titles {
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: space-between;
}

.about-gallery-titles h4 {
    text-align: left;
}

.about-lines {
    display: block;
}

.thumbnail-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.thumbnail {
	width: 50%;
	height: auto;
	padding-bottom: 1rem;
}

@media only screen and (min-width:800px) {
	.thumbnail {
		width:20%;
	}
}

.pirate-section {
	padding:5rem;
	text-align: justify;
}


/*product page */

.hero-container-products {
    height: 400px;
	position: relative;
	overflow: hidden;
}

.hero-container-products .tagline {
	position: absolute; /*container should be set at position: relative; */
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%); /*this makes title in centre */
    color:white;
    z-index: 4;


}



/* this is the pop out image of the gallery - the code centers the image and makes it 50% of original size */
.full-product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1rem;
}


/*contact*/

.contact-header {
    background-color: lightgray;

}

.contact-text {
    color: white;
    font-size: 25px;
}

.gform_fields { 
    flex-wrap: wrap; 
    flex-wrap: wrap;
}

.gfield {
    width: 100%;
}

.gform_description {
    display: none;
}

.gform_body {
    width:100%;
}
#input_1_3, #input_1_5 {
    width:100%;
}



#gform_fields_1 {
    list-style-type: none;

}

#input_1_7 {
    width:50%;
}

.charleft {
    color: powderblue;
}

.gform_button {
    margin-left: 38px;
    color: darksalmon;
    font-size: 55px;
}


.gform_wrapper {
    align-items: center;

}
.gform_fields top_label form_sublabel_below description_below {
    list-style-type:none;
    width:100%;
}

.gform_body {
    align-items: center;
}

.gform_title {
    margin-left:39px;
}

.gfield_label {
    color: powderblue;
    font-weight: bold;
    padding-bottom: 5px;
}

/*footer */


.footer-container {
    background-color: lightgray;
    padding: 0.5rem;
    position: relative;
}

.footer-email-container{
	text-align: center;
	padding-left: 1.5rem;
	padding-top: 1.5rem;
}

.footer-email {
    /*border: 3px solid white; */

    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
	border: 2px solid darkseagreen;
	padding: 0.4rem;
}
/*.followus {
text-align: right;
color: white;
position: absolute;

} */
.social-links {
	padding: 0.7rem;
    text-align: center;
    width: 100%;
    color: white;
    text-decoration: none;
}

.fab {
	color: darkseagreen;
	font-size: 3rem;
	padding: 0.1rem;
}

.copyright {
	padding-top: 10px;
    color: white;
	text-align: right;
}


.mobile-nav {
	position: fixed;
	top:0;
	left:0;
	transform: translateX(-100%);
    width:350px;
	transition: transform 0.5s, opacity 0.5s;
	height:100%;
	background-color: lightgrey;
    z-index: 6;
	opacity: .2;
}

.mobile-nav.open {
	transform: translateX(0%);
	opacity: 1;
}

.mobile-nav ul {
	display: flex;
	flex-direction: column;
}

.mobile-nav li {
	width:100%;
	margin:0;
	border:0;
	padding: 10px 10px;
	left:0;
}

.mobile-nav.open {

}

.nav-button {
	margin-left: 10px;
    background: none;
    border: none;
}

@media only screen and (min-width:600px) {
	.nav-button {
		display: none;
	}
}

.desktop-nav {
	display: none;
}

@media only screen and (min-width:600px) {
	.desktop-nav {
		display: block;
	}
}


.nav-close {
	background: none;
	border: none;
	color: white;
}

.fas.fa-bars {
	font-size: 30px;
}

.far.fa-window-close {
	font-size:32px;
}

.mobile-nav .active {
	color:white;
}

.nav-open .mobile-overlay {
	position: fixed;
	width:100%;
	height:100%;
	background-color: salmon;
	top:0;
	opacity: .8;
	z-index: 5;
}

.mobile-overlay {
	left: 0;
	background-color: salmon;
	opacity: .2;
	background-color: green;
	transition: background-color 2s, opacity 2s;
}

.product-menu-content {
	display: none;
}

.product-menu-item.open .product-menu-content {
	display: block;

}

.product-menu-title {
	color: darkseagreen;
	text-align: center;
}

.product-menu-content p {
	text-align: center;
	color: darksalmon;
}
