<footer>

    <div class="footer-container">
        {#<button type="button" onclick="alert('Hello world!')">EMAIL US!</button> #}
        <a href="mailto:hello@sullivandesigns.co.uk?Subject=Spread%20question" target="_top" class="footer">Drop us an email</a>
    </div>


</footer>
