<footer>

    <div class="footer-container">


		<div class="socialmedia-footer">
			<div class="inner">
				<div class="social-links">
					<p class="followus">Follow Us</p>
					<a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook"></i></a>
					<a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram"></i></i></a>

				</div><!-- /.social-links -->
				<div class="footer-email-container">
					{#<button type="button" onclick="alert('Hello world!')">EMAIL US!</button> #}
			        <a href="mailto:hello@sullivandesigns.co.uk?Subject=Spread%20question" target="_top" class="footer-email">Drop us an email</a>
				</div>

				<div class="copyright">
					<p> &copy; Copyright Chan 2020 </p>
				</div>

			</div><!-- /.inner -->
		</div><!-- /.socialmedia-footer -->

    </div>





</footer>
