<header>

    {# {{ site.name }} #}

<nav>
    <ul>

            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/">Home</a></li>
            <li><a href="http://chantelle-training.staginghub.co.uk/about/">About</a></li>
            <li><a href="http://chantelle-training.staginghub.co.uk/products/">Products</a></li>
            <li><a href="http://chantelle-training.staginghub.co.uk/contact/">Contact</a></li>
    </ul>
</nav>



</header>
