<header>
    <div class="inner">

     <h1 class="hello">{{ site.name }}</h1>

<nav class="desktop-nav">
    <ul>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/">Home</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/about/">About</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/products/">Products</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/contact/">Contact</a></li>
    </ul>
</nav>
<button type="button" class="nav-button"><i class="fas fa-bars"></i></button>
<nav class="mobile-nav">
	<button type="button" class="nav-close"><i class="far fa-window-close"></i></button>
    <ul>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/">Home</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/about/">About</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/products/">Products</a></li>
            <li><a class="active" href="http://chantelle-training.staginghub.co.uk/contact/">Contact</a></li>
    </ul>
</nav>

<div class="mobile-overlay"></div>


 </div>
</header>
