<div class="products">
    <h2>Products</h2>
        <div class="products-wrapper">
            <div class="product-one">
                <img src="images/spreadone" </>
            </div>
        </div>
</div>
