<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Timber test</title>
        {{ wp_head }}
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@700&family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/307927aa2b.js" crossorigin="anonymous"></script>
    </head>

    <body class="{{ body_class }}">

        {% block header %}
            {% include 'partial/header.twig' %}
        {% endblock %}

        {% block main %}{% endblock %}

        {% block footer %}
            {% include 'partial/footer.twig' %}
        {% endblock %}

        {{ wp_footer }}
    </body>
</html>
