{% extends 'base.twig' %}

{% block main %}

    <h1 class="about-heading">{{ contact_headline_text}}</h1>
    <div class="contact-header">{{ contact_header_image}}</div>
    <div class="content">{{ content }}</div>

{% endblock %}
