{% extends 'base.twig' %}

{% block main %}
	{% set bg_image_src = '/wp-content/uploads/images/tomato.jpg' %}
	{# Hero image with image as element #}


	{# Hero image with background-image #}


	{# @TODO Build product gallery #}
	<section class="gallery-training">
		<div class="inner">
			<h1>Gallery Title</h1>
			<div class="thumbnails-container">
				<img class="thumbnail thumb-1" src="https://proveg.com/wp-content/uploads/2019/01/spread-1776657_1920-1.jpg" alt="Daisy Guacemole" />
				<img class="thumbnail thumb-2" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F6185349.jpg" alt="Salsa on breadloaf" />
				<img class="thumbnail thumb-3" src="https://www.bowlofdelicious.com/wp-content/uploads/2016/10/Veggie-Cream-Cheese-2.jpg" alt="Chive paste" />
				<img class="thumbnail thumb-4" src="https://peasandcrayons.com/wp-content/uploads/2015/12/healthy-garden-veggie-dip-recipe-1108.jpg" alt="Tortilla dipped into sour cream" />
			</div><!-- /.thumbnails-container -->
			<div class="gallery-image-container">
				<img class="gallery-image" src="" alt="" />
			</div><!-- /.gallery-image-container -->
		</div><!-- /.inner -->
	</section><!-- /.gallery -->
{% endblock %}
